*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main::before {
    content: "";
    width: 100%;
    height: 42.8vh;
    position: absolute;
    top: 0;
    background-image: url("/assets/images/Vector.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: #E0A231;
    overflow:hidden
}

header {
    z-index: 9999990;
    position: relative;
    color: white;
}

.h-row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
}

.h-content {
    grid-column: 1 / span 3;
    margin: 2rem 0 0 5rem;
}

.h-contact{
    grid-column: 4 / span 3;
    margin: 2rem 0 0 0;
}

.icon {
    color: white;
    width: 3rem;
    height: 3rem;
}

.contact-cont{
    color: white;
}

.h-profileImg{
    grid-column: 8 / span 5 ;
    margin: 1rem 0 0 0;
    transform: translate(30%, 0);
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
}

.b-content {
    margin-left: 1rem;
    grid-column: 1 / span 3;
    width: 80%;
}

.b-list { 
    margin-right: 1rem;
    grid-column: 4 / span 3;
}

.b-table {
    margin-left: 1rem;
    margin-top: 2rem;
}

h1 {
    color: #3180E0;
    font-weight: bolder;
}
table {
    background-color: rgba(49, 128, 224, 0.9);
    opacity: 0.9;
}
th,td {
    border-bottom: 2px solid white;
    border-collapse: collapse;
    color: white;

}

.icons {
position: relative;
  display: inline-block;
}

.icons .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 60%;
    margin-left: -60px;
    font-size: 15px;
  }
  .icons .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
.icons:hover .tooltiptext{
    visibility: visible;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
   
   body {
    overflow: auto;
   }
     .h-content{
        grid-column: 1 / span 6;
        font-size: 0.7rem;
    }
    .h-contact{
        grid-column: 6 / span 6;
        font-size: 0.7rem;
    }
    .h-profileImg{
        grid-column: 1 / span 12;
        margin: 1rem 0 0 1rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .b-table{
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1460px) {
    main::before {
        content: "";
        width: 100%;
        height: 58.8vh;
        position: absolute;
        top: 0;
        background-image: url("/assets/images/Vector.svg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -9999;
    }

    .b-list{
        margin-top: 4rem;
        margin-left: 2rem;
        width: fit-content;
    }

    .h-profileImg{
        margin: 2.5rem 0 0 0;
    }
}